/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

*{
    font-family: monospace;
}

window {
    background-color: transparent;
    color: white;
    font-size: 18px;
    height: min-content;
    font-family: JetBrains Mono Nerd Font;
    font-weight: bold;
}

#input {
    margin-bottom: 1rem;
    border-radius: 0px;
    border: none;
    background-color: #404552;
    padding: .5rem;
    color: white;
}

#inner-box {
    background-color: #383C4A;
}

#outer-box {
    /* margin: 5px; */
    padding: 1rem;
    background-color: #383C4A;
    border-radius: 1rem;
}

#scroll {
}

#text {
    padding: 5px;
}

#entry {
    padding: .5rem;
}

#entry:nth-child(even){
    background-color: #404552;
}

#entry:selected {
    background-color: #5291e2;
}

#text:selected {
}
